# 编译中间产物
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.order
*.symvers
*.cmd
.tmp_versions/
Module.markers

# 默认忽略 prebuilt/ 目录本身，但下面用 ! 否定规则保留指定产物
prebuilt/*

# 允许提交的真机产物
!prebuilt/
!prebuilt/*.ko
!prebuilt/*.log
!prebuilt/*.txt
